body, html {
    height: 100%;
}

.main{
 	argin-top: 150px;
 	margin: auto;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 	border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.input-group {
    display: inline !important;
}

.form-group input {
    border-radius: 3px !important;
}

.form-group input:required:invalid {
    background-color: rgba(255, 0, 0, 0.1);
}

.form-group input:required:valid {
    background-color: rgba(0, 255, 0, 0.1);
}